*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 20px;
}

body{
    background: rgba(0,0,0, 0.95);
    color: rgb(255, 255, 255);
}

.box, .show{
    margin: 1rem 5rem;
}

nav{
    background: rgb(192, 36, 36);
    height: 3rem;
    margin-top: -10px;
}

.nav-links{
    display: flex;
    list-style: none;
    float: left;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav-links li{
    margin-left: 50px;
}

.nav-links li a{
    text-decoration: none;
    color: white;
    border-radius: 30px;
    padding: 0 10px;
    font-size: 1.5rem;
}

.nav-links li a:hover{
    background: white;
    color: rgb(192, 36, 36);
    transition: 0.5s;
}

.box{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-areas: 
    "content1 image1"
    "image2 content2"
    "content3 image3"
    "image4 content4";
}

.box1{grid-area: image1;}
.box2{grid-area: content1;}
.box3{grid-area: image2;}
.box4{grid-area: content2;}
.box5{grid-area: image3;}
.box6{grid-area: content3;}
.box7{grid-area: image4;}
.box8{grid-area: content4;}

.box_{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.box_ div{
    box-shadow: 5px 5px 20px rgba(255,255,255, 0.1);
    border-radius: 10px;
}

.box_ div p{
    margin: 10px;
}

.content{
    color: rgb(255, 255, 255);
    background: rgb(192, 36, 36);
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.6em;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(63, 52, 52);
    width: 60%;
}

thead{
    background: rgb(255, 255, 255);
    color: rgb(192, 36, 36);
}

.content th, .content td{
    padding: 10px 8px;
}

img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 8px white;
}

div{
    margin-bottom: 10px;
}

b{
    color: tomato;
}

p{
    margin-bottom: 10px;
}

.if p{
    margin-bottom: 0px;
}

@media (max-width:768px){
    .content{
        width: 80%;
    }

    .line{
        width: 30px;
        height: 3px;
        margin: 5px;
        background: white;
    }

    nav{
        height: 4rem;
        position: relative;
        margin-top: 0;
    }

    .ham{
        position:absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%,-50%);
        z-index: 2;
    }

    .nav-links{
        position: fixed;
        flex-direction: column;
        background: rgb(192, 36, 36);
        width: 100%;
        height: 100vh;
        clip-path: circle(100px at 120% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open{
        clip-path: circle(1500px at 120% -20%);
        pointer-events: all;
    }

    .nav-links li{
        opacity: 0;
        margin-left: 0;
    }

    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }

    li.fade{
        opacity: 1;
    }

    *{
        font-size: 11px;
    }

    .box{
        grid-template-areas: 
        "content1"
        "image1"
        "content2"
        "image2"
        "content3"
        "image3"
        "content4"
        "image4";
    }
}