*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    list-style: none;
}

body{
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0,0,0, 0.95);
    color: rgb(255, 255, 255);
    padding: 50px 50px 0 50px;
}

.content{
    color: rgb(255, 255, 255);
    background: rgb(190, 50, 50);
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.6em;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(63, 52, 52);
    width: 70%;
}

thead{
    background: rgb(255, 255, 255);
    color: rgb(190, 50, 50) ;
}

.content th, .content td{
    padding: 10px 8px;
}

div img{
    width: 50%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 8px white;
}

div{
    margin-bottom: 30px;
}

div p{
    margin-bottom: 5px;
}

b{
    color: tomato;
}

@media (max-width: 400px){
    *{
        font-size: 7px;
    }

    .content{
        width: 60%;
    }

    .content th, .content td{
        padding: 6px 6px 0 6px;
    }

    div img{
        width: 100%;
    }
}

@media (max-width: 700px){
    *{
        font-size: 12px;
    }

    div img{
        width: 60%;
    }
}